.input_group{
    @apply flex border rounded-md;
    position: relative;
    width: auto;
}
.inputText{
    @apply w-full border focus:bg-gray-300 rounded-md first-line:rounded-xl bg-slate-50 focus:outline-purple-200 border-none py-2 px-4 invalid:border-pink-500 invalid:text-pink-600
}
.inputTextEmailReset{
    @apply w-full border rounded-md first-line:rounded-xl bg-slate-50 focus:outline-none focus:bg-gray-200 border-none py-2 px-4
}
.input_button{
    @apply w-full m-auto bg-gradient-to-r from-blue-500 to-indigo-800 py-3 text-gray-50 text-lg sm:text-sm md:text-sm rounded-md justify-center
}

.input_button:hover{
    @apply bg-gradient-to-l from-blue-500 to-indigo-700 text-gray-300 border
} 

.social_button{
    @apply flex justify-center w-full gap-2 py-3 text-center text-black border border-solid rounded-md bg-gradient-to-b from-slate-100 to-slate-300 sm:text-sm md:m-auto;
    @apply sm:px-3 
}

.social_button:hover{
    @apply bg-gradient-to-l from-slate-100 to-slate-400 text-slate-900
}

.inputText +*{
    color:gray;

}

.inputText:focus +*{
    color: blue;

}

.inputText:not([type=email]) ~ span:hover *{
    color: blue;
    cursor: pointer;
}

.passwordemaildreset{
    @apply flex border rounded-md;
    position: relative;
    margin:auto;
    margin-top: 5%;
    width: 100%;
}
.inputTextEmailReset +*{
    @apply text-white text-center  font-bold hover:text-gray-800
    cursor-pointer
}