
.imgStyle{
    @apply  bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md; 
    position:relative;
    overflow: hidden;
    height: 100%;
}

.catoonImg{
    background-image: url('../public/assests/heroImg.png');
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:  60%  100%;
    background-repeat: no-repeat;

    
}

.animation{
    background-image: url('../public/assests/5.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    top:60%;
    left:30%;
    height: 200px;
    width: 100px;
    position: absolute;
    animation: animate 25.5s ease-in 5.4s infinite;
    transform: translateX(250%);
    
}

/*animations*/

@keyframes animate{
    0%{
        transform: translateX(290%);
    }
    100%{
        transform: translateX(-250%);
    }
}
