
.navBar{
    position: relative;
    @apply flex flex-row bg-white w-full h-12 m-auto justify-between mx-auto;
    border-bottom: 1px solid gray;
    height: 80px;


   

}
.logo{
    @apply pl-5 flex justify-start text-2xl mb-5 pt-2 font-bold top-0 hover:text-slate-500 relative text-blue-800
}
.logo::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    height: 2px;
}

.logo:hover::before{
    transform: scaleX(1);
}

.links{
    @apply flex flex-row justify-evenly m-auto 
}
.ul{
    @apply flex-row  m-auto  justify-between  space-x-4 hidden lg:flex
    
}
.ul li a{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ul li a:hover{
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    transition: 1s ease;
    color: gray;
}

.links a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    height: 2px;
    margin-top: 30px;
  
    
}

.links .ul li a:hover::before{
    transform: scaleX(1);
}